.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #09c2c2;
    width: 300px;
    background-color: white;
  }
  
  .product-image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 16px;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .add-to-cart-button,
  .buy-now-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-to-cart-button {
    background-color: #f0c14b;
    color: #111;
  }
  
  .buy-now-button {
    background-color: #f08080;
    color: #fff;
    text-align: center;
  }

  /* Like Button */
  .like-button {
    align-items: center;
    
  }
  .like-button:hover{
    cursor: pointer;
  
  
  }
  
  .liked{
    color: crimson;
  }

 