body {
  position: relative;
  overflow: auto;
  background-color: transparent;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background/bgNewYork.jpg");
  backdrop-filter: blur(5px);
  z-index: -1;
}
.caro-titel {
  width: fit-content;
  margin: auto;
}

/* Carousel grösse */
.d-block {
  height: 450px;
}
