body {
  background-image: url("images/background/bgNewYork.jpg");
  backdrop-filter: blur(5px);
}

.navbar-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: none;
}

.caro-titel {
  width: fit-content;
  margin: auto;
}

/* Carousel grösse */
.d-block {
  height: 450px;
}
