/* .mynavbar {
  background-color: rgb(107, 230, 207);
  color: #fff;
  height: 80px;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo {
  margin: 2px 0 2px 2px;
  max-width: 100%;
  max-height: 76px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #aaa;
}

.navbar-toggler {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}

.navbar-toggler-icon {
  background-image: url("path/to/toggler-icon.png");
}

.btn-secondary {
  background-color: #aaa;
  color: #fff;
}

.bi-cart {
  color: red;
} */

.mynavbar {
  background-color: rgb(107, 230, 207);
  color: #fff;
  height: 80px;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo {
  margin: 2px 0 2px 2px;
  max-width: 100%;
  max-height: 76px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #aaa;
}

.navbar-toggler {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}

.navbar-toggler-icon {
  background-image: url("path/to/toggler-icon.png");
}

.btn-secondary {
  background-color: #aaa;
  color: #fff;
}

.bi-cart {
  color: red;
}
